.App {
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    padding: 0;
    margin: 0;
  }

  .navbar {
    width: 80%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
  }

  .card{
    width: 18rem
  }

  .movieList {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .scheduleList {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    font-weight: 400;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .carousel{
    height: 400px;
    background-color: #121619;
  }
  
  .carouselInner{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }

  .carouselInner .left{
    flex: 5%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
  }

  .carouselInner .center{
    flex: 90%;
    height: 100%;
  }

  .carouselInner .right{
    flex: 5%;
    height: 100%;
    display: grid;
    place-items: center;
    color: white;
  }

  .paginationBttn {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttn a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBttn a:hover {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationDisabled a {
    display: none;
    color: grey;
    background-color: grey;
  }
  

  